<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">  
   <body>
   	<form action="#" th:action="@{/register}" th:object="${user}" method="post">
   		<input type="text" th:field="*{firstName}" />
   		<input type="text" th:field="*{lastName}" />
   		<input type="text" th:field="*{age}" />
   		<input type="text" th:field="*{userName}" />
   		<input type="password" th:field="*{password}" />
   		<button type="submit" class="btn btn-success">Register</button>
	</form>
   </body>
</html>  